<div class="col-md-12">
    <h4>Top themes:</h4>
    <ul class="list-group">
        {% for theme in themes %}
        <li class="list-group-item">
            <a href="{{ path('app_theme_get', {"slug" : theme.slug}) }}">{{ theme.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>