<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | My Christmas</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">My Christmas</a>
                </div>

                <div>
                    <ul class="nav navbar-nav">
                        <li {% if currentPath == "/" %} class="active" {% endif %}><a href="{{ path('app_default_index') }}">Home</a></li>
                        <li {% if currentPath == "/post/top" %} class="active" {% endif %}><a href="{{ path("app_post_top") }}">Топ 20</a></li>
                        <li {% if currentPath == "/post/create" %} class="active" {% endif %}><a href="{{ path('app_post_create') }}">Рассказать всем</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block container %}

        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>